<div class="relative overflow-x-auto">
  <table ubTable>
    <thead ubTableHeader>
      <tr ubTableRow>
        <th ubTableHead>Name</th>
        <th ubTableHead>Email</th>
        <th ubTableHead>Company</th>
        <th ubTableHead>Department</th>
        <th ubTableHead>Actions</th>
      </tr>
    </thead>
    <tbody class="w-full table-auto" ubTableBody>
      @for(user of users; track user.id) {
      <tr ubTableRow>
        <td ubTableCell>
          {{ user.name }}
        </td>
        <td ubTableCell>
          {{ user.email }}
        </td>
        <td ubTableCell>
          {{ user.company?.name ?? '' }}
        </td>
        <td ubTableCell>
          {{ user.department?.name ?? '' }}
        </td>
        <td ubTableCell>
          <ubDialogTrigger ubButton size="sm" [ubDialogTrigger]="updateUser" [ubDialogContext]="user"
            >Update</ubDialogTrigger
          >
        </td>
      </tr>

      <ng-template #updateUser let-user>
        <app-users-form [defaultUser]="user"></app-users-form>
      </ng-template>
      }
    </tbody>
  </table>
</div>
