<div ubDialogContent>
  <div ubDialogHeader>
    <h2 ubDialogTitle>Create User</h2>
  </div>
  <form class="flex flex-col gap-y-4" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-y-2">
      <label for="name" class="text-sm font-semibold leading-relaxed tracking-wide text-gray-600"> Nome Usuario </label>
      <input ubInput id="name" name="name" type="text" [(ngModel)]="userPayload.name" />
    </div>
    <div class="flex flex-col gap-y-2">
      <label for="email" class="text-sm font-semibold leading-relaxed tracking-wide text-gray-600"> Email </label>
      <input ubInput id="email" type="email" name="email" [(ngModel)]="userPayload.email" />
    </div>
    <div class="flex flex-col gap-y-2">
      <label for="senha" class="text-sm font-semibold leading-relaxed tracking-wide text-gray-600"> Senha </label>
      <input ubInput id="senha" type="password" name="password" [(ngModel)]="userPayload.password" />
    </div>
    <div class="flex flex-col gap-y-2">
      <label for="senha" class="text-sm font-semibold leading-relaxed tracking-wide text-gray-600"> Departments </label>
      <select [(ngModel)]="userPayload.department!.id" name="department" id="department" class="w-full">
        @for(dep of departments; track dep.key) {
        <option [ngValue]="dep.key">
          {{ dep.value }}
        </option>
        }
      </select>
    </div>
    <div class="flex flex-col gap-y-2">
      <label for="senha" class="text-sm font-semibold leading-relaxed tracking-wide text-gray-600"> Company </label>
      <select [(ngModel)]="userPayload.company!.id" name="department" id="department" class="w-full">
        @for(comp of companies; track comp.key) {
        <option [ngValue]="comp.key">
          {{ comp.value }}
        </option>
        }
      </select>
    </div>

    <button type="submit" ubButton variant="default" class="mt-4 w-full">Submit</button>
  </form>
</div>
